package actions

import (
	"testing"

	"github.com/stretchr/testify/require"
)
{{ range $a := .Actions }}
func (as *ActionSuite) Test_{{$.Name.Resource}}Resource_{{ $a }}() {
	as.Fail("Not Implemented!")
}
{{ end }}
