create_table("{{.Model.Name.Table}}") {
  {{ range $a := .Model.Attributes -}}
  t.Column("{{$a.Name.Underscore}}", "{{$a.FizzType}}"{{if $a.Primary}}, {"primary": true}{{else if $a.Nullable}},{"null": true}{{end}})
  {{ end -}}
}
