<div class="page-header">
  <h1>{{.ModelName.Model}}#Show</h1>
</div>

<ul class="list-unstyled list-inline">
  <li class="list-inline-item"><a href="<%= {{.Name.VarCasePlural}}Path() %>" class="btn btn-info">Back to all {{.ModelName.ModelPlural}}</a></li>
  <li class="list-inline-item"><a href="<%= edit{{.Name.Model}}Path({ {{.Name.ParamID}}: {{.ModelName.VarCaseSingular}}.ID })%>" class="btn btn-warning">Edit</a></li>
  <li class="list-inline-item"><a href="<%= {{.Name.VarCaseSingular}}Path({ {{.Name.ParamID}}: {{.ModelName.VarCaseSingular}}.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

{{ range $p := .Props -}}
<p>
  <strong>{{ $p.Name }}</strong>: <%= {{$.ModelName.VarCaseSingular}}.{{$p.Name}} %>
</p>
{{ end -}}

