- id: "{{.Model.UnderSingular}}.created.success"
  translation: "{{.Model.Model}} was successfully created."
- id: "{{.Model.UnderSingular}}.updated.success"
  translation: "{{.Model.Model}} was successfully updated."
- id: "{{.Model.UnderSingular}}.destroyed.success"
  translation: "{{.Model.Model}} was successfully destroyed."
