- id: "{{.ModelName.UnderSingular}}.created.success"
  translation: "{{.ModelName.Model}} was successfully created."
- id: "{{.ModelName.UnderSingular}}.updated.success"
  translation: "{{.ModelName.Model}} was successfully updated."
- id: "{{.ModelName.UnderSingular}}.destroyed.success"
  translation: "{{.ModelName.Model}} was successfully destroyed."
